@use '../../mixins/layout.scss' as *;

.start-screen {
  display: grid;
  @include section-centered;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "paper scissors"
    "rock rock";
  column-gap: 100px;
  row-gap: 40px;

  &_hidden {
    visibility: hidden;
  }

  &__button {
    &:hover svg use {
      color: #000;
    }

    &_animated {
      transition: translate 0.2s linear;
    }

    &_paper {
      grid-area: paper;
    }

    &_scissors {
      grid-area: scissors;
    }

    &_rock {
      grid-area: rock;
      justify-self: center;
    }
  }
}
