@use "../../less/mixins/layout.scss" as *;

.circle-icon {
  border: 2px solid #fff;
  border-radius: 100%;
  inline-size: var(--icon-size, 200px);
  block-size: var(--icon-size, 200px);
  @include flexbox-centered;

  &__svg {
    transition: fill 0.15s linear;
    pointer-events: none;
    inline-size: 100%;
    block-size: 100%;
    inline-size: 65%;
    block-size: 65%;
    &_hidden {
      display: none;
    }
  }

  &__use {
    transition: color 0.15s linear;
    inline-size: 100%;
    block-size: 100%;
  }
}
