.button {
  border: 1px solid #fff;
  padding: 0;
  color: #fff;
  background-color: transparent;
  transition: background-color 0.15s linear, color 0.15s linear;
  cursor: pointer;
  appearance: none;

  &:hover {
    color: #000;
    background-color: #fff;
  }
}
