@use "../../less/mixins/layout.scss" as *;

.board {
  position: absolute;
  inset: 0;
  @include flexbox-centered;

  &_hidden {
    visibility: hidden;
  }

  &__container {
    display: grid;
    grid-template-columns: var(--icon-size, 200px) 0fr var(--icon-size, 200px);
    gap: clamp(1.25rem, -0.539rem + 7.634vw, 3.125rem);
    transition: grid-template-columns 0.2s linear, gap 0.2s 0.05s linear;
    @include section-centered;

    &_expanded {
      grid-template-columns: var(--icon-size, 200px) 1fr var(--icon-size, 200px);
      gap: 0;
    }
  }

  &__result {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    inline-size: 100%;
    @include section-centered;
  }

  &__text {
    margin-block-end: 10px;
    font-size: clamp(1.125rem, -1.38rem + 10.687vw, 3.75rem);
    text-align: center;
    text-transform: uppercase;
    min-inline-size: 400px;
  }

  &__restart {
    border-radius: clamp(0.438rem, 0.139rem + 1.272vw, 0.75rem);
    font-size: clamp(0.813rem, -0.201rem + 4.326vw, 1.875rem);
    text-transform: uppercase;
    padding-inline: clamp(0.938rem, -2.641rem + 15.267vw, 4.688rem);
    padding-block: clamp(0.313rem, -0.105rem + 1.781vw, 0.75rem);
  }
}
