@use '../../mixins/layout.scss' as *;

.board {
  position: absolute;
  inset: 0;
  @include flexbox-centered;

  &_hidden {
    visibility: hidden;
  }

  &__container {
    display: grid;
    grid-template-columns: 250px 0fr 250px;
    transition: grid-template-columns 0.2s linear;
    @include section-centered;
    gap: 50px;

    &_expanded {
      grid-template-columns: 250px 1fr 250px;
    }
  }

  &__result {
    inline-size: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    @include section-centered;
  }

  &__text {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    margin-block-end: 10px;
    text-transform: uppercase;
    min-inline-size: 400px;
  }

  &__restart {
    inline-size: 300px;
    block-size: 50px;
    border-radius: 12px;
    font-size: 30px;
    text-transform: uppercase;
  }
}
