.choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-inline-size: 250px;
  &__text {
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
  }

  &__icon {
    scale: 1;

    &_bot {
      opacity: 0;
    }

    &_animated {
      transition: translate 0.2s linear;
    }
  }
}
